/**
 * Multiselect
 * https://github.com/adampresley/multiselect
 * version 0.0.3
 *
 * Author: Adam Presley
 * Editor:ty4z2008
 * License: MIT
 * Copyright 2015 Adam Presley
 */

.multiselect-outer-div select {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    border:1px solid #e7e7e7;
    border-radius: 5px;

}

.multiselect-outer-div select option {
    cursor: default;
    height: 20px;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #EEE;
    display: list-item;
    color: #7F8C8D;
}

.multiselect-outer-div select option:hover {
    background-color: #CCC;
    text-decoration: none;
    color: #FFFFFF;
}

.multiselect-li-selected{
    background-color: #08C !important;
    color: #FFFFFF !important;
    text-decoration: none;
}
